* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	gap: 40px;
	position: sticky;
	left: 0;
	top: 0;
	right: 0;
	z-index: 100;
	background-color: white;
}

.img_div img {
	width: 70px;
	margin: 5px 0px 0px 140px;
}


.others {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	margin-right: 30px;
}

.others select {
	border: none;
	color: #081f89;
	font-size: 14px;
	font-weight: 600;
}

.others a {
	text-decoration: none;
	color: #081f89;
	font-size: 14px;
	font-weight: 600;
}

.section1 {
	width: 100%;
	height: 510px;
	background-color: #fffdf5;
	display: flex;
	justify-content: space-between;
	/* padding:0px 70px ; */
}

.section1_hero {
	padding-left: 150px;
	padding-top: 80px;
}

.section1 h1 {
	font-size: 70px;
	line-height: 70.4px;
	color: #000E42;
}

.section1 p {
	font-size: 16px;
	line-height: 29px;
	font-weight: 500;
	color: #474747;
	font-weight: 600;
	padding-top: 13px;
	padding-bottom: 30px;
}

.section1 button {
	background-color: #00208A;
	color: #ffffff;
	font-size: 14px;
	align-items: center;
	padding: 17px 30px;
	border: none;
	border-radius: 12px;

}

.section1_img {
	padding-right: 150px;
	padding-top: 18px;

}

.section1_img img {
	width: 500px;
}

/* SECTION2 */
.section2_h1 {
	font-size: 42px;
	font-weight: 700;
	color: #050754;
	margin-top: 50px;
	margin-left: 130px;
	margin-bottom: 30px;

}

.section2 {
	display: flex;
	justify-content: space-between;
	margin: 0px 150px;
}

.section2_card {}

.section2_card img {
	width: 300px;
	filter: grayscale(10);
}

.section2_card h3 {
	font-size: 20px;
	font-weight: 700;
	color: #000E54;
	padding-bottom: 20px;
}

.section2_card p {
	color: #666666;
	font-weight: 500;
	font-size: 14px;
	padding-right: 12px;
	line-height: 23.1px;
}

.section2_card a {
	color: #26364E;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	border-bottom: 2px solid #26364e;
}

/* SECTION3 */
.section_3 {
	display: flex;
	justify-content: space-between;
	margin: 80px 130px 170px;
}

.section_3 h3 {
	color: #333333;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 30px;
}

.section_3 p {
	color: #666666;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 30px;
	margin-right: 30px;
}

.section_3 h4 {
	color: #666666;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 30px;
	margin-right: 30px;
}

.section_3_content p {
	border-bottom: 1px solid #2ea3f2;
}

/* SECTION4 */
.section_4 {
	margin-left: 150px;
	margin-right: 150px;
}

.section_4 h2 {
	font-size: 48px;
	font-weight: 600;
	color: #333333;
}

.section_4 p {
	font-size: 16px;
	font-weight: 500;
	color: #666666;
	margin-bottom: 30px;
}

.section_4 a {
	font-size: 14px;
	font-weight: 500;
	color: #00208a;

}

.section_4_content {
	width: 500px;
	height: 750px;
	background-color: #d5eaf3;
	border-radius: 20px;
	box-shadow: 0px 30px 10px #d2e9d7;
	margin-top: 60px;
}

.section_4_content img {
	width: 400px;
	border-radius: 12px;
	margin: 50px 50px 0px;

}

.section_4_content h3 {
	font-size: 28px;
	font-weight: 600;
	color: #333333;
	padding: 10px 57px;
}

.section_4_content p {
	font-size: 14px;
	font-weight: 500;
	color: black;
	padding: 10px 50px;
	line-height: 25.2px;
}

.section_4_content a {
	margin: 10px 50px;
	font-size: 14px;
	font-weight: 600;
}

.section_4_content2 {
	width: 500px;
	height: 750px;
	background-color: #eeefbd;
	border-radius: 20px;
	margin-bottom: 400px;
	position: absolute;
	top: 2200px;
	left: 700px;
	border: 1px solid black;
	box-shadow: 10px 10px 5px 25px #fff4f2;
}

.section_4_content2 img {
	width: 400px;
	border-radius: 12px;
	margin: 50px 50px 0px;

}

.section_4_content2 h3 {
	font-size: 28px;
	font-weight: 600;
	color: #333333;
	padding: 10px 57px;
}

.section_4_content2 p {
	font-size: 14px;
	font-weight: 500;
	color: black;
	padding: 10px 50px;
	line-height: 25.2px;
}

.section_4_content2 a {
	margin: 10px 50px;
	font-size: 14px;
	font-weight: 600;
}

.section_4_content12 {
	display: flex;
	justify-content: space-between;
}

/* SECTION13 */
.section_4_content3 {
	width: 500px;
	height: 750px;
	background-color: #e0d5c0;
	border-radius: 20px;
	box-shadow: 10px 10px 20px 20px #d2e9d7;
	margin-top: 60px;
}

.section_4_content3 img {
	width: 400px;
	border-radius: 12px;
	margin: 50px 50px 0px;

}

.section_4_content3 h3 {
	font-size: 28px;
	font-weight: 600;
	color: #333333;
	padding: 10px 57px;
}

.section_4_content3 p {
	font-size: 14px;
	font-weight: 500;
	color: black;
	padding: 10px 50px;
	line-height: 25.2px;
}

.section_4_content3 a {
	margin: 10px 50px;
	font-size: 14px;
	font-weight: 600;
}

.section_4_content4 {
	width: 500px;
	height: 750px;
	background-color: #dfd5e8;
	border-radius: 20px;
	box-shadow: 10px 10px 20px 20px #ffdfd9;
	margin-top: 60px;
	position: absolute;
	top: 2920px;
	left: 710px;
	border: 1px solid black;

}

.section_4_content4 img {
	width: 400px;
	border-radius: 12px;
	margin: 50px 50px 0px;

}

.section_4_content4 h3 {
	font-size: 28px;
	font-weight: 600;
	color: #333333;
	padding: 10px 57px;
}

.section_4_content4 p {
	font-size: 14px;
	font-weight: 500;
	color: black;
	padding: 10px 50px;
	line-height: 25.2px;
}

.section_4_content4 a {
	margin: 10px 50px;
	font-size: 14px;
	font-weight: 600;
}

.section_4_content13 {
	display: flex;
	justify-content: space-between;
}

/* SECTION 5 */
.section_5 {
	margin-top: 220px;
}

.section_5 h2 {
	font-size: 27px;
	font-weight: 600;
	margin: 0px 150px;
}

.section_5_a {
	margin: 40px 200px;
	display: flex;
	flex-direction: row;
	gap: 100px;

}

.section_5_a img {
	width: 150px;
}

.section_6 {
	width: 100%;
	height: 400px;
	background-color: red;
	margin-top: 80px;
}

.section_6 {
	background-image: linear-gradient(120deg, rgba(0, 4, 66, 0) 0%, #000442 70%), url(Images/linear_gradient.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	display: flex;
	justify-content: space-between;
	gap: 70px;
	padding: 50px 90px;
}



.section_6 h2 {
	color: white;
	font-size: 48px;
	font-weight: 700;
}

.section_6 p {
	color: white;
	font-size: 16px;
	font-weight: 500;
	line-height: 28.8px;
}

.section6_a {
	width: 450%;
	max-width: 450px;
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
	margin: auto;
}

.section6_a iframe {
	width: 100%;
	height: 250px;
	border: none;
	display: block;
}

.section6_b button {
	padding: 20px 30px;
	color: #ffffff;
	background-color: #00208a;
	border: none;
	border-radius: 30px;
	margin-top: 30px;
	font-weight: 600;
	font-size: 14px;
}

.section_7 h2 {
	font-size: 48px;
	font-weight: 600;
	color: #333333;
	margin-top: 60px;
	margin-left: 170px;
}

.section_7 p {
	margin-top: 5px;
	margin-left: 170px;
	color: #474747;
	font-size: 14px;
	font-weight: 500;
}

.section_7a {
	margin: 20px 230px;
}

.section_7a img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 50px;
}

.section_7a h3 {
	font-size: 15px;
	font-weight: 500;
	color: #222222;
	line-height: 20px;
}

.section_7a h4 {
	font-weight: 400;
	font-size: 14px;
	color: #555555;
	margin-left: 10px;

}

.section_7a button {
	padding: 8px 18px;
	background-color: #1F67E7;
	border: none;
	border-radius: 20px;
	color: white;
	margin: 10px;
}

.section_7b img {
	margin: 20px 170px;
}



.section_8 h2 {
	color:
		#333333;
	font-size: 38px;
	font-weight: 600;
	margin-top: 100px;
	margin-left: 150px;

}

.major_heading {
	display: flex;
	justify-content: space-between;
	padding: 20px 150px;
	gap: 50px;
}

.headings img {
	width: 45px;
	margin-top: 60px;

}

.headings h3 {
	font-size: 20px;
	color: #333333;
	font-weight: 500;
	padding-top: 20px;
	padding-bottom: 15px;

}

.headings p {
	font-size: 17px;
	line-height: 23.1px;
	font-weight: 500;
	color: #666666;

}

.headings_pics img {
	height: 1200px;
	width: 300px;
	background-position: 100%;
	background-size: contain;
	color: #666666;
}

.section_9 {
	width: 100%;
	height: 670px;
	background-color: #090326;
	margin-top: 30px;
	padding: 80px 150px 0px;
	display: flex;
	justify-content: space-between;
	gap: 500px;
}

.section_9a h4 {
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 20px;
}

.section_9a h2 {
	color: #ffffff;
	font-size: 39px;
	font-weight: 500;
	line-height: 1.2em;
	padding-bottom: 50px;

}

.section_9a a {
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	color: #D0A73F;
	border-bottom: 3px solid #D0A73F;
}

.section_9b h5 {
	color: #D39B00;
	font-size: 20px;
	font-weight: 500;
	border-bottom: 2px solid #D39B00;
	border-spacing: 20px;
	margin-bottom: 80px;
	align-items: center;
	padding: 35px 0;
	margin: 0 auto;
	/* width: fit-content; */
}

.section_9b p {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 26.4px;
	border-bottom: 2px solid #D39B00;
	margin-bottom: 80px;
	padding: 35px 0;
	margin: 0 auto;
}

.section_9b h4 {
	color: #D39B00;
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 20px;
}

.section_10 {
	width: 100%;
	height: 500px;
	background-color: #000b3f;
	padding: 100px 150px;
}

.section_10 h4 {
	font-size: 17px;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 1.4px;
}

.section_10 h2 {
	font-size: 60px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 20px;
}

.section_10 p {
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	line-height: 22.4px;
	margin-bottom: 20px;
}

.section_10 button {
	padding: 20px 30px;
	border-radius: 40px;
	color: #ffffff;
	background-color: #00208a;
	font-size: 14px;
	font-weight: 600;
	border: none;
}

.section_11 {
	background-color: #f0f1ff;

}

.section_11a {
	display: flex;
	justify-content: space-between;
	padding: 100px 150px 30px;
}

.section_11a h2 {
	font-size: 40px;
	font-weight: 600;
}

.section_11a button {
	background-color: #00208A;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	padding: 20px 25px;
	border-radius: 30px;
	border: none;
}

.section_11b {
	display: flex;
	justify-content: space-between;
	padding: 0px 170px 170px;
	/* gap: 20px; */
}

.section_11c {
	height: 600px;
	width: 380px;
	background-color: white;
}

.section_11d {
	height: 650px;
	width: 350px;
	background-color: white;
}

.section_11b img {
	width: 350px;
	margin-bottom: 30px;
}

.section_11c a {
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	color: #000000;

}

.section_11d a {
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	color: #000000;

}

.section_11c .p1 {
	font-size: 12px;
	font-weight: 700;
	color: #F7827E;
	margin-top: 20px;
	padding: 0px 20px;
}

.section_11d .p1 {
	font-size: 12px;
	font-weight: 700;
	color: #F7827E;
	margin-top: 20px;
	padding: 0px 20px;
}

.section_11c p {
	font-size: 16px;
	font-weight: 500;
	color: #666666;
	margin-top: 20px;
	line-height: 25.2px;
	padding: 0px 20px;
}

.section_11d p {
	font-size: 16px;
	font-weight: 500;
	color: #666666;
	margin-top: 20px;
	line-height: 25.2px;
	padding: 0px 20px;
}

.footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 40px;
	padding: 40px 60px;
	background-color: #f9f9f9;
}

.footer-section {
	flex: 1 1 220px;
	min-width: 220px;
}

.footer-section h3,
.footer-section h4 {
	margin-bottom: 10px;
	font-weight: 600;

}

.footer-section p,
.footer-section a {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.6;
	text-decoration: none;
	color: #333333;
}

.footer-section a:hover {
	color: #007BFF;
}

.footer-section ul {
	list-style: none;
	padding-left: 0;
}

.footer-section ul li {
	margin-bottom: 8px;
}

.footer-section ul li a {
	text-decoration: none;
	color: #333333;
}

.footer-section .social-icons {
	margin: 15px 0;
}

.footer-section .social-icons a {
	margin-right: 10px;
	font-size: 16px;
	color: #333;
}

.footer-section .social-icons a:hover {
	color: #007BFF;
}

.email a {
	color: #007BFF;
	font-weight: 500;
	text-decoration: none;
}
.footer-section h4{
	color: #666666;
}


.final-footer {
	height: 50px;
	width: 100%;
	background-color: #050044;
}

.final-footer p {
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	padding-left: 160px;
	padding-top: 25px;
}
.whatsapp{
	position: fixed;
	top: 90%;
	left: 30px;
	z-index: 100px;
}
